[Unit]
Description=Load USB gadget scheme
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount

[Service]
ExecStartPre=/usr/sbin/modprobe libcomposite
ExecStart=/usr/bin/gt load acm-ecm.scheme acm-ecm
RemainAfterExit=yes
ExecStop=/usr/bin/gt rm -rf acm-ecm
Type=simple

[Install]
WantedBy=usb-gadget.target
